.layoutedParagraph {
    white-space: pre-wrap;
    margin: 1rem 0;
    height: calc(100% + 20vh);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .loadingWrap {
        position: relative;
        width: 100%;
        text-align: center;
        height: 200px;
    }

    .whiteLine {
        margin: 1rem 0;
    }

    .line {
        margin-bottom: 0;
        line-height: 1.7;
        opacity: 0;
        transform: translateY(20px);
        white-space: nowrap;
    }
}

@media screen and (max-width: 768px) {
    .layoutedParagraph {
        align-items: flex-start;
        .line {
            font-size: 14px;
        }
    }
}