.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .logo {
    font-size: 12px;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    color: #bbb;
  }
  .logo:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.nav {
  display: flex;
  gap: 1rem;
  font-size: 1rem;

  .link {
    .alow {
        margin-left: .5rem;
        transition: all 0.3s ease;
    }
  }

  .link:hover .alow {
    margin-left: .25rem;
  }
  
}
