.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 1rem 3rem 3rem 3rem;
    background-color: white;
    z-index: 1;

    .links {
        grid-row-start: 3;
        display: flex;
        gap: 24px;
        transition: font-size 0.2s;

        a {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .docs {
            gap: 4px;
        }
    }
    
    .links img {
        flex-shrink: 0;
    }
    
    .credit {
        display: flex;
        justify-content: center;
        line-height: 1;
        color: var(--color-text-secondary);

        .copyr {
            font-size: 14px;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .links a:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}

@media (max-width: 600px) {
    .footer {
        font-size: 14px;
        .links {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 12px;

            a {
                gap: 4px;
            }
            .docs {
                gap: 2px;
            }
        }
        .credit {
            word-break: break-all;
            text-align: center;

            .copyr {
                font-size: 13px;
            }
        }
    }
}
