.btn {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s;
    will-change: width, opacity;
    opacity: 0;
    width: 0;
    animation: OpenIn 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation-delay: 1s;
}
    
.btnInverted {
    background-color: whitesmoke;
    border: 1px solid black;
}

.btnInverted > .strong,
.btnInverted > .small {
    color: black;
    font-weight: normal;
}

@keyframes OpenIn {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}