.subtitle {
    font-size: 1.3rem;
    color: grey;
    font-weight: 600;
    line-height: 2;
}
.code {
    background-color: #f4f4f4;
    padding: 0.2em 0.4em;
    border-radius: 4px;
}
.pre {
    background-color: #f4f4f4;
    padding: 1em;
    border-radius: 4px;
    overflow-x: auto;
}
.del {
    font-weight: normal;
    color: grey;
}

.h2, .h3 {
    color: #333;
    font-weight: bold;
}

.h2 {
    font-size: 1.5rem;
    animation: fadeUpIn 0.5s ease;
}

.unorderList {
    list-style-type: disc;
    margin: 0 0 1em 1em;

    .list {
        margin-bottom: 1rem;
    }
}

.anchorLink {
    color: black;
    text-decoration: underline;
    transition: all .3s;

    &:hover {
        color: #333;
        text-decoration: dashed;
    }
}

.tryBtn {
    width: 100%;
    margin: 2rem 0;
}