// Font Color
    // [デジタル庁 デザインシステム] https://design.digital.go.jp/
    // [tailwindCSS-color] https://tailwindcss.com/docs/customizing-colors
    // [shadcn-ui-color]  https://ui.shadcn.com/colors
    // [shadcn-ui Design] System https://www.figma.com/community/file/1203061493325953101

$da-text: hsl(0, 0%, 10%);    // デジタル庁 デザインシステムの定める文字色の黒
$shadcn-slate-primary: 224 71.4% 4.1%; // shadcn-ui(正確にはTailwindCSS)の定める黒ボタンの背景色などで使用(#030712)

// Font Size
$font-size: 4.4mm; // フォントサイズ
// $font-size: 45.7px; // iPad(264ppi)でのフォントサイズ(4.4mm): 先行研究の環境
// $font-size: 39.3px; // MacBokAir 13inch(227ppi)でのフォントサイズ(4.4mm): 当環境
// $font-size: 16.63px; // iPhone 6/7/8(326ppi)でのフォントサイズ(4.4mm): 先行研究の環境

$font-family: var(--font-hiragino-kaku-gothic-w3); // 先行研究で使用されたフォント ヒラギノ角ゴシックPro W3
$line-height: 1.6;  // 行間